/* Overlay.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    background: white;
    padding: 120px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* ビューポート幅の80% */
    max-width: 646px;
    /* 最大幅を800pxに制限 */
    height: 70%;
    /* ビューポート高さの60% */
    max-height: 765px;
    /* 最大高さを600pxに制限 */
    display: flex;
    flex-direction: column;
    /* 縦方向に要素を並べる */
    justify-content: center;
    /* 垂直方向の中央揃え */
    align-items: center;
    /* 水平方向の中央揃え */
}

.RCtextbox-3-label,
.RCtextbox-3 {
    color: #333;
}

.RCtextbox-3-label {
    display: block;
    margin-bottom: 5px;
    font-size: .9em;
}

.RCtextbox-3 {
    width: 500px;
    max-width: 100%;
    padding: 12px 16px;
    /* パディングを増やして高さを調整 */
    border: none;
    border-radius: 8px;
    /* 少し角を丸める */
    background: #f7f7f7;
    font-size: 1.2em;
    /* フォントサイズを少し大きく */
    line-height: 1.5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* 少し影をつけて立体感を出す */
    display: block;
    /* ブロック要素にすることで横幅いっぱいに広げる */
    margin: 0 auto;
    /* 水平方向に中央揃え */
    margin-bottom: 50px;
        /* テキストボックスの下に余白を追加 */
}

.RCtextbox-3::placeholder {
    color: #999;
}

.overlay-title{
    height: 10%;
}

.register_Button{
    background-color: #f2f2f2;
    /* ボタンの背景色 */
    border: none;
    /* ボタンの枠線を削除 */
    border-radius: 8px;
    /* ボタンを丸くする */
    padding: 10px;
    /* 画像周りに余白を設定 */
    cursor: pointer;
    /* カーソルをポインタに変更 */
    display: flex;
    /* 中央揃えに必要 */
    justify-content: center;
    /* 横方向の中央揃え */
    align-items: center;
    /* 縦方向の中央揃え */
    width: 80px;
    /* ボタンの幅 */
    height: 40px;
    /* ボタンの高さ */
    font-size: medium;
}