.Setting{
display: flex;
    flex-direction: column;
    /* 縦に並べる */
    margin-left: 300px;
    /* ナビゲーションバーの幅を考慮*/
    /* ナビゲーションバーの高さと一致させる */
}

.generatekeybutton {
    background-color: #f2f2f2;
    /* ボタンの背景色 */
    border: none;
    /* ボタンの枠線を削除 */
    border-radius: 8px;
    /* ボタンを丸くする */
    padding: 10px;
    /* 画像周りに余白を設定 */
    cursor: pointer;
    /* カーソルをポインタに変更 */
    display: flex;
    /* 中央揃えに必要 */
    justify-content: center;
    /* 横方向の中央揃え */
    align-items: center;
    /* 縦方向の中央揃え */
    width: 80px;
    /* ボタンの幅 */
    height: 30px;
    /* ボタンの高さ */
    font-size: medium;
    margin-bottom: 4px;
    margin-left: 8px;
    margin-top: 8px;
}

.generatekeybutton:hover {
    background-color: #c7c7c7;
    /* ホバー時の色を濃くする */
}

.buttonstyle{
    display: flex;
}

.textbox-2-label,
.textbox-2 {
    color: #333;
}

.textbox-2-label {
    display: block;
    margin-bottom: 5px;
    font-size: .9em;
}

.textbox-2 {
    width: 38%;
    padding: 8px 10px;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    background: #f7f7f7;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 15px;
}

.textbox-2::placeholder {
    color: #999;
}

.button-image-copy{
    width: 25px;
    height: 25px;
    margin-left: 8px;
    margin-bottom: 8px;
    /* 画像とテキストの間にスペースを追加 */
    vertical-align: middle;
        /* 要素を基準線に対して中央に配置 */
}
.button-container {
    position: relative;
    /* 親要素を相対位置に設定 */
    display: inline-block;
}

.image-button {
    position: 'absolute';
    top: 0;
    left: 0;
}

.generatekeybutton1 {
    background-color: #f2f2f2;
    /* ボタンの背景色 */
    border: none;
    /* ボタンの枠線を削除 */
    border-radius: 8px;
    /* ボタンを丸くする */
    padding: 10px;
    /* 画像周りに余白を設定 */
    cursor: pointer;
    /* カーソルをポインタに変更 */
    display: flex;
    /* 中央揃えに必要 */
    justify-content: center;
    /* 横方向の中央揃え */
    align-items: center;
    /* 縦方向の中央揃え */
    width: 160px;
    /* ボタンの幅 */
    height: 50px;
    /* ボタンの高さ */
    font-size: medium;
    margin-bottom: 4px;
    margin-left: 8px;
    margin-top: 8px;
}

.generatekeybutton1:hover {
    background-color: #c7c7c7;
    /* ホバー時の色を濃くする */
}